
.gallery {

    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery-item {

    width: calc((100% - 48px) / 3);
}

.gallery-image {
    height: 200px;
    width: 100%;
    transition: transform 300ms ease-in-out;
}

.gallery-image:hover {
    cursor: zoom-in;
    transform: scale(1.1);
}

